[submodule "web"]
	path = Smart-Search-Web
	url = https://github.com/doudidas/Smart-Search-Web
[submodule "api"]
        path = SmartSearchEngine
        url = https://github.com/doudidas/SmartSearchEngine
