.DS_Store
.idea/
mongo/db
mongo/configdb/
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.wt
mongo/db/*.wt
mongo/db/collection-11-7557400677131988764.wt
