[submodule "web"]
	path = Smart-Search-Web
	url = https://github.com/doudidas/Smart-Search-Web
[submodule "api"]
        path = smartSearchEngine
        url = https://github.com/doudidas/smartSearchEngine
